.mainContainer {
  width: 80%;
  margin-left: 20%;
  // padding: 50px 70px;
  &SearchBar {
    margin-bottom: 50px;
    justify-content: space-between;
    position: sticky;
    top: 0;
    z-index: 10;
    background-color: #fff;
    padding-left: 70px;
    padding-right: 70px;
    padding-top: 30px;
    padding-bottom: 30px;
    &Cart {
      width: 20%;
      button {
        float: right;
        width: 40px;
        height: 40px;
        svg {
          path {
            fill: #fbab20;
          }
        }
      }
    }
  }
  &ProductContainer {
    padding-left: 70px;
    padding-right: 70px;
    padding-bottom: 50px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    row-gap: 50px;
    flex: 1 1;
    column-gap: 4.4%;
  }
}
