.mainMenu {
  height: 100%;
  width: 75%;
  border-right: 1px solid #e6e6ea;
  padding-top: 50px;
  padding-bottom: 30px;
  padding-left: 30px;
  nav {
    ul {
      li {
        margin-bottom: 20px;
        button {
          font-size: 17px;
          color: #e6e6ea;
          margin-bottom: 10px;
          &:hover {
            color: #fbab20 !important;
          }
        }
      }
    }
    ol {
      display: none;
      margin-left: 20px;
      div {
        margin-bottom: 10px;
        align-items: center;
        label {
          color: #282121;
          font-size: 18px;
          margin-left: 10px;
        }
        input {
          display: block;
        }
      }
    }
  }
}

.active {
  color: #fbab20 !important;
}
