* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  width: 100%;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

button {
  border: none;
  background: none;
  outline: none;
  cursor: pointer;
}

input {
  border: none;
  background: none;
  outline: none;
  cursor: pointer;
}

.main_container {
  width: 90%;
}

@media (max-width: 780px) {
  main {
    flex-direction: column;
  }
  .main_container {
    width: 100%;
  }
}
