@import "./../../../styles/variables";
.cardContainer {
  position: absolute;
  height: 100%;
  width: 100%;
  backdrop-filter: blur(10px);
  top: 0;
  left: 0;
  z-index: 9999;
  display: none;
}

.card {
  max-width: 50%;
  min-height: 50%;
  width: 100%;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  background-color: #fdfdfd;
  padding: 20px;
  border-radius: 10px;
  &Button {
    height: 30px;
    button {
      float: right;
      background-color: $theme-color;
      padding: 5px;
      border-radius: 7px 5px;
      color: $theme-default-color;
    }
  }
}
