@import "./../../styles/variables";
.cardContainer {
  position: absolute;
  height: 100%;
  width: 100%;
  backdrop-filter: blur(10px);
  top: 0;
  left: 0;
  z-index: 9999;
  display: none;
}

.card {
  max-width: 50%;
  width: 100%;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  background-color: #fdfdfd;
  padding: 20px;
  border-radius: 10px;
  &Content {
    height: 100%;
  }
  &Button {
    button {
      float: right;
      background-color: $theme-color;
      padding: 5px;
      border-radius: 7px 5px;
      color: $theme-color-light;
    }
  }
  &Image {
    width: 60%;
    height: 500px;
    position: relative;
    img {
      object-fit: contain;
    }
  }
  &Info {
    width: 40%;
    color: $theme-color-dark;
    &Title {
      font-size: 45px;
      margin-bottom: 20px;
    }
    &Price {
      font-size: 30px;
      color: $theme-second-color;
      margin-bottom: 20px;
    }
    &Description {
      font-size: 25px;
      margin-bottom: 20px;
    }
  }
}
