.product {
  max-width: 300px;
  width: 30%;
  flex-direction: column;

  &Image {
    margin-bottom: 20px;
    &Sale {
      position: absolute;
      width: 60px;
      height: 40px !important;
      border-radius: 10px;
      display: flex;
      justify-content: center;
      align-items: center;
      color: #e6e6ea;
      background-color: #cc2936;
      top: 20px;
      left: 20px;
      font-size: 20px;
    }
    background-color: #e6e6ea;
    border-radius: 10px;
    padding: 30px;
    position: relative;
    max-height: 300px;
    max-width: 300px;
    min-height: 300px;
    min-width: 300px;
    height: 100%;
    width: 100%;
    img {
      object-fit: none;
    }
  }
  &Info {
    margin-bottom: 20px;
    color: #282121;
    justify-content: space-between;
    align-items: center;
    &Price {
      &Sale {
        color: #cc2936 !important ;
      }
      align-items: center;
      column-gap: 10px;
      p {
        color: #282121;
        font-size: 22px;
      }
      span {
        text-decoration: line-through;
        opacity: 0.5;
        color: #e6e6ea;
      }
    }
    &Availability {
      span {
        font-size: 16px;
        color: #e6e6ea;
      }
    }
  }
  &Title {
    color: #282121;
    font-size: 18px;
    margin-bottom: 20px;
    h2 {
      color: #282121;
      font-weight: normal;
      font-size: 18px;
      span {
        font-size: 16px;
        color: #e6e6ea;
      }
    }
  }

  &Action {
    justify-content: space-between;
    &Input {
      align-items: center;
      &Add {
        svg {
          transform: rotate(180deg);
          height: 10px;
          path {
            fill: #fbab20;
          }
        }
      }
      &Substract {
        svg {
          height: 10px;
          path {
            fill: #fbab20;
          }
        }
      }
      input {
        margin: 0 20px;
        width: 20px;
        height: 23px;
        text-align: center;
        font-size: 16px;
        color: #282121;
        &::-webkit-outer-spin-button,
        &::-webkit-inner-spin-button {
          -webkit-appearance: none;
          appearance: none;
          -moz-appearance: textfield;
        }
      }
    }
    &Order {
      background: #fbab20;
      padding: 7px 10px;
      border-radius: 10px;
      color: #e6e6ea;
      font-size: 16px;
    }
  }
}
