.search {
  align-items: center;
  width: 50%;
  &Input {
    border: 1px solid #e6e6ea;
    padding: 5px 10px;
    border-radius: 10px;
    font-size: 20px;
    height: 40px;
    width: 100%;
    color: #282121;
    &::placeholder {
      color: #e6e6ea;
      font-size: 18px;
    }
  }
  &Button {
    border: 1px solid #e6e6ea;
    border-left: none;
    border-radius: 10px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    padding: 5px 10px;
    svg {
      height: 25px;
      path {
        fill: #fbab20;
      }
    }
  }
}

@media (max-width: 480px) {
  .search {
    width: 90%;
  }
}
