/*!***********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[13].oneOf[7].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[13].oneOf[7].use[5]!./src/components/Elements/Sidebar/sidebar.module.scss ***!
  \***********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.sidebar_sidebar__YmI7H {
  position: fixed;
  width: 10%;
  height: 100svh;
  z-index: 9999;
}

@media (max-width: 780px) {
  .sidebar_sidebar__YmI7H {
    width: 100%;
    height: 100px;
  }
}
/*!*******************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[13].oneOf[7].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[13].oneOf[7].use[5]!./src/components/UserComponents/UserMenu/userMenu.module.scss ***!
  \*******************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.userMenu_userMenu__MZf6Y {
  background-color: #4f4141;
  width: 100%;
  height: 100%;
  padding-top: 50px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 30px;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.userMenu_userMenuAvatar__5hilt {
  height: 50px;
  width: 50px;
}
.userMenu_userMenuAvatar__5hilt svg path {
  fill: #fbab20;
}
.userMenu_userMenuLogo__MgsjV {
  width: 100%;
  height: 100px;
  margin-bottom: 60px;
}
.userMenu_userMenuLogo__MgsjV a svg {
  height: 100%;
  width: 100%;
}
.userMenu_userMenuLogo__MgsjV a svg path {
  fill: #fbab20;
}

@media (max-width: 780px) {
  .userMenu_userMenu__MZf6Y {
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    padding: 0 20px;
  }
  .userMenu_userMenuLogo__MgsjV {
    height: 50px;
    width: 100px;
    margin: 0;
  }
  .userMenu_userMenuAvatar__5hilt {
    width: 40px;
    height: 40px;
  }
}
/*!**************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[13].oneOf[7].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[13].oneOf[7].use[5]!./src/components/ProductComponents/ProductContainer/productContainer.module.scss ***!
  \**************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.productContainer_mainContainerSearchBar__JpeKG {
  margin-bottom: 50px;
  justify-content: space-between;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 10;
  background-color: #fff;
  padding-left: 16%;
  padding-right: 16%;
  padding-top: 30px;
  padding-bottom: 30px;
}
.productContainer_mainContainerSearchBarCart__vxJTU {
  width: 20%;
}
.productContainer_mainContainerSearchBarCartButton__c0aLQ {
  float: right;
  width: 40px;
  height: 40px;
  position: relative;
}
.productContainer_mainContainerSearchBarCartButtonItems__2Ts5q {
  position: absolute;
  top: -20px;
  right: -20px;
  font-size: 14px;
  background-color: #cc2936;
  color: #fff;
  padding: 5px;
  border-radius: 50%;
}
.productContainer_mainContainerSearchBarCartButton__c0aLQ svg path {
  fill: #fbab20;
}
.productContainer_mainContainerProductContainer___kU_A {
  justify-content: center;
  padding-left: 70px;
  padding-right: 70px;
  padding-bottom: 50px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  row-gap: 50px;
  flex: 1 1;
  column-gap: 4.4%;
}

@media (max-width: 1080px) {
  .productContainer_mainContainerProductContainer___kU_A {
    justify-content: center;
    padding: 0px 10px 50px 10px;
  }
}
@media (max-width: 780px) {
  .productContainer_mainContainer__8YN5x {
    width: 100%;
    margin-left: 0;
    margin-top: 100px;
  }
  .productContainer_mainContainerSearchBar__JpeKG {
    padding: 20px 30px;
    top: 100px;
  }
  .productContainer_mainContainerProductContainer___kU_A {
    justify-content: center;
    padding: 0px 30px 50px 30px;
  }
}
/*!********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[13].oneOf[7].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[13].oneOf[7].use[5]!./src/components/ProductComponents/Product/product.module.scss ***!
  \********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.product_product__nOO4T {
  max-width: 300px;
  width: 30%;
  flex-direction: column;
}
.product_productImage__k1guL {
  margin-bottom: 20px;
  border-radius: 10px;
  padding: 30px;
  position: relative;
  max-height: 300px;
  max-width: 300px;
  min-height: 300px;
  min-width: 300px;
  height: 100%;
  width: 100%;
}
.product_productImageSale__8q3zA {
  position: absolute;
  width: 60px;
  height: 40px !important;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  background-color: #cc2936;
  top: 20px;
  left: 20px;
  font-size: 20px;
  z-index: 5;
}
.product_productImage__k1guL img {
  object-fit: contain;
  z-index: 1;
}
.product_productInfo__uUGSi {
  margin-bottom: 20px;
  color: #4f4141;
  justify-content: space-between;
  align-items: center;
}
.product_productInfoPrice__q7P8Y {
  align-items: center;
  column-gap: 10px;
}
.product_productInfoPriceSale__Inx8X {
  color: #cc2936 !important;
}
.product_productInfoPrice__q7P8Y p {
  color: #4f4141;
  font-size: 22px;
}
.product_productInfoPrice__q7P8Y span {
  text-decoration: line-through;
  opacity: 0.5;
  color: #e6e6ea;
}
.product_productInfoAvailability__FvLYp span {
  font-size: 16px;
  color: #e6e6ea;
}
.product_productTitle__NYHsG {
  color: #4f4141;
  font-size: 18px;
  margin-bottom: 20px;
  min-height: 80px;
}
.product_productTitle__NYHsG h2 {
  color: #4f4141;
  font-weight: normal;
  font-size: 18px;
}
.product_productTitle__NYHsG h2 span {
  font-size: 16px;
  color: #4f4141;
}
.product_productAction__bQ2V5 {
  justify-content: space-between;
}
.product_productActionInput__aWjCf {
  align-items: center;
}
.product_productActionInputAdd__SXngD svg {
  transform: rotate(180deg);
  height: 10px;
}
.product_productActionInputAdd__SXngD svg path {
  fill: #fbab20;
}
.product_productActionInputSubstract__cYGHm svg {
  height: 10px;
}
.product_productActionInputSubstract__cYGHm svg path {
  fill: #fbab20;
}
.product_productActionInput__aWjCf input {
  margin: 0 20px;
  width: 20px;
  height: 23px;
  text-align: center;
  font-size: 16px;
  color: #4f4141;
}
.product_productActionInput__aWjCf input::-webkit-outer-spin-button, .product_productActionInput__aWjCf input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  appearance: none;
  -moz-appearance: textfield;
}
.product_productActionOrder__uk2QB {
  background: #fbab20;
  padding: 7px 10px;
  border-radius: 10px;
  color: #fff;
  font-size: 16px;
}

.product_placeholder__emTFV {
  filter: blur(8px);
  animation: product_blurFade__tSCGy 1s ease-in-out forwards;
}

@keyframes product_blurFade__tSCGy {
  0% {
    filter: blur(12px);
  }
  100% {
    filter: blur(5px);
  }
}
@media (max-width: 1300px) {
  .product_product__nOO4T {
    width: 45%;
  }
}
@media (max-width: 780px) {
  .product_product__nOO4T {
    width: 100%;
  }
}
/*!*********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[13].oneOf[7].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[13].oneOf[7].use[5]!./src/components/Elements/Search/search.module.scss ***!
  \*********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.search_search__RbV3j {
  align-items: center;
  width: 100%;
}
.search_searchInput___5O_g {
  border: 1px solid #e6e6ea;
  padding: 5px 10px;
  border-radius: 10px;
  font-size: 20px;
  height: 40px;
  width: 100%;
  color: #4f4141;
}
.search_searchInput___5O_g::placeholder {
  color: #e6e6ea;
  font-size: 18px;
}
.search_searchButton__5geSq {
  border: 1px solid #e6e6ea;
  border-left: none;
  border-radius: 10px;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  padding: 5px 5px;
}
.search_searchButton__5geSq svg {
  height: 25px;
}
.search_searchButton__5geSq svg path {
  fill: #fbab20;
}

@media (max-width: 1080px) {
  .search_search__RbV3j {
    width: 90%;
  }
}
/*!***************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[13].oneOf[7].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[13].oneOf[7].use[5]!./src/components/Elements/SearchBar/searchbar.module.scss ***!
  \***************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.searchbar_searchBar__JVmhV {
  width: 100%;
  column-gap: 20px;
  align-items: center;
}
.searchbar_searchBarFilters__57pTD {
  display: flex;
  gap: 5px;
  flex-wrap: wrap;
}
.searchbar_searchBarFiltersFilter__yIJjg {
  background-color: #fbab20;
  border-radius: 10px;
  align-items: center;
  padding: 5px 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 5px;
}
.searchbar_searchBarFiltersFilter__yIJjg span,
.searchbar_searchBarFiltersFilter__yIJjg button {
  color: #fff;
}
/*!********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[11].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[11].use[3]!./node_modules/next/dist/build/webpack/loaders/resolve-url-loader/index.js??ruleSet[1].rules[13].oneOf[11].use[4]!./node_modules/next/dist/compiled/sass-loader/cjs.js??ruleSet[1].rules[13].oneOf[11].use[5]!./src/styles/main.scss ***!
  \********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  width: 100%;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

button {
  border: none;
  background: none;
  outline: none;
  cursor: pointer;
}

input {
  border: none;
  background: none;
  outline: none;
  cursor: pointer;
}

.main_container {
  min-width: 90%;
  margin-left: 10%;
}

@media (max-width: 780px) {
  .main_container {
    margin-left: 0%;
  }
}
