.userMenu {
  background-color: #282121;
  width: 20%;
  height: 100%;

  padding-top: 50px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 30px;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  &Logo,
  &Cart,
  &Avatar {
    position: relative;
  }
  &Logo {
    height: 32px;
    width: 100%;
    svg {
      height: 100%;
      width: 100%;
      path {
        fill: #fbab20;
      }
    }
  }
  &Cart {
    margin-bottom: 15px;
    height: 32px;
    width: 32px;
    svg {
      path {
        fill: #fbab20;
      }
    }
  }
  &Avatar {
    height: 32px;
    width: 32px;
    svg {
      path {
        fill: #fbab20;
      }
    }
  }
}
